body {
  background-color: aquamarine;
  font-family: "Times New Roman", Times, serif;
}
.Main {
  background: darkmagenta;
  max-width: 800px;
  margin: 50px auto;
  box-shadow: 0 30px 50px rgba (65, 50, 100, 0.08);
  border-radius: 16px;
  padding: 30px;
}
